a:hover {
    color: #E27689;
    border-bottom-color: rgba(255, 255, 255, 0);
}

#header .icons a:hover {
    color: #fff;
}

#main>section.dark a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background-color: #9ececc;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
    background-color: #7eaeac;
}